<header class="page-header">
   <p>This is header</p>
   <a href="/">home</a>
   <a href="/about">about</a>
   <a href="/blog">blog</a>
   <a href="/product">product</a>
   <a href="/journal">journal</a>
   <a href="#"><img src="/assets/images/dev/dog-medium.png"></a>
</header>