<main>
  <div class="section container">
    <h1 class="section-title">Recent articles</h1>
      <ul role="list" class="articles__list flow">
        {%- for journal in collections.journal | reverse -%}
          {% include "journal-snippet.njk" %}
        {%- endfor -%}
      </ul>
  </div>
</main>