---
layout: 'base.njk'
title: All About Cutie
permalink: /about/index.html
description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusantium sit illo neque rem omnis quaerat, nam similique vitae delectus ad magni vel quo maxime, magnam placeat. Reprehenderit, distinctio aliquam?
---

<main>
   <h1>{{ title }}</h1>
   <h3>oh oh oh oh cutie cutie</h3>
   <p>{{ description }}</p>
</main>